$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: white;
  text-align: center;
  font: 20px arial, sans-serif;

}
#image {
  background: url('./images/image1.png');
}

.explain{
  font-size: 25px;
}
.cellheight {
  height: 100px;
  width: 150px;
  padding: 3px;
}
.navbar {
  font-size: 25px;
}

.box {
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font: 20px arial, sans-serif;
}

#game {
  margin-left: 350px;
  margin-bottom: 100px;
}

.col-md-4 {
  position: relative;
}

p {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: navyblue;
}



#gamesList {
  word-wrap: break-word;
  color:grey;
}
